In [1]:
# Write a python program to print 1 to 10 but when number equal to 6 then where print 'Ram' using for loop.
for i in range(11):
    if(i==6):
        print("Ram")
    else:
        print(i)

0
1
2
3
4
5
Ram
7
8
9
10

In [17]:
# Write a python programm to find factorial of any number from user input using while loop.
fact = 1
no=int(input("Enter any no : "))
i=1
while i<=no:
    fact*=i
    i+=1
print(fact)

Enter any no :  5

120

In [21]:
# Write a python programm to find factorial of any number from user input using for loop.
fact=1
no=int(input("Enter any no : "))
for b in range(1,no+1):
    fact*=b
print(fact)

Enter any no :  5

120

# 1. Program : Python Program that defines variables and prints using print function.

In [9]:
name="Nandji"
no=100
point_val=14.6
bool_val = True
print("Name is : ",name)
print("Number is : ",no)
print("Float value is : ",point_val)
print("Boolean is : ",bool_val)

Name is :  Nandji
Number is :  100
Float value is :  14.6
Boolean is :  True

# 2. Program : Find the sum of the first n natural number with user input using formula n*(n+1)/2.

In [2]:
no = float(input("Enter any no : "))
sum = no*(no+1)/2
print(sum)

Enter any no :  2.5

4.375

# 3. Program : Write to a python programm to adding two number from (+,-,*,/,percentage) operator using user input (if,elif,else).

In [3]:
fn = float(input("Enter the first number : "))
sn = float(input("Enter the second number : "))
print("1. Add")
print("2. Subs")
print("3. Multiply")
print("4. Division")
print("5. Percentage")
ch = int(input("Enter choice : "))
if(ch==1):
    print("Sum : ",fn+sn)
elif(ch==2):
    print("Subs : ",fn-sn)
elif(ch==3):
    print("Multiply : ",fn*sn)
elif(ch==4):
    print("Division : ",fn/sn)
elif(ch==5):
    print("Subs : ",(fn/sn)*100)
else:
    print("Invalid choice")

Enter the first number :  25
Enter the second number :  25

1. Add
2. Subs
3. Multiply
4. Division
5. Percentage

Enter choice :  4

Division :  1.0

# 4. Program : Write to a python programm to find maximum of two number using if-else using user input.

In [9]:
def maximum(a,b):
    if(a>b):
        return a
    else:
        return b
fn = float(input("Enter the first number : "))
sn = float(input("Enter the second number : "))
print(maximum(fn,sn))

Enter the first number :  15
Enter the second number :  10

15.0

# 5. Program : Write to a python programm to find the factorial of a number using recursive function.

In [8]:

def fact(a):
    if(a==0):
        return 1   
    else:
        return a*fact(a-1)
    
a = int(input("Enter the any number : "))
result = fact(a)
print(result)

Enter the any number :  5

120

In [ ]:
# 6. Program : Write a python program to print prime number with user input using for loop

In [ ]:
no=int(input("Enter number :"))
def primeNo(no):
    for i in range(2,no+1):
        div=int(no/2)+1
        if(no%y)

# 7. Program : Write a python program to check prime number with user input using for loop

In [2]:
no=int(input("Enter number :"))
def isPrime(no):
    for i in range(2,int(no/2)+1):
        if(no%i==0):
            return False
    return True

if isPrime(no):
    print("Yes, This is a Prime number.")
else:
    print("No,This is not a prime number")

isPrime(no)

Enter number : 90

No,This is not a prime number

False

# 8. Program : Write a python program to find the length of a string using for loop.

In [8]:
name=input("Enter name :")
def strLen(name):
    count=0
    for i in name:
        count+=1
    return count

print(strLen(name))

Enter name : hu

2

# 9. Program : Write a python program to concatenating String using '+' operator and without '+' operator

In [18]:
firstName=input("Enter first name :")
secondName=input("Enter second name :")
newName=firstName+secondName
print("Fisrt Method",newName)
print("Second Method",firstName, end="")
print(secondName)

Enter first name : ram
Enter second name : seeta

Fisrt Method ramseeta
Second Method ramseeta

# 10. Program : Write a python program to check if a string and number is palindrome or native approach (if-else statement for boolean result)

In [25]:
print("1. For number")
print("2. For string")
choice=int(input("Enter your choice :"))
if(choice==1):
    number=input("Enter a number :")
    newNo=str(number[::-1])
    if(number==newNo):
        print("This is a Palindrome number")
    else:
        print("This is not a palindrome number")
        
elif(choice==2):
    name=input("Enter a string :")
    newName=name[::-1]
    if(name==newName):
        print("This is a palindrome string")
    else:
        print("This is not a palindrome string")
else:
    print("Invalid Input choice")

1. For number
2. For string

Enter your choice : 1
Enter a number : 121

This is a Palindrome number

# 11. Program : Write a python program to String indexing and slicing by accesing individual characters using their indices(0-based).
# as : Gujarat Vidyapith

In [4]:
strVal=input("Enter a string :")

#indexing of string
firstChar=strVal[0]
secondChar=strVal[1]
lastChar=strVal[-1]

#slicing of string
firstSlice=strVal[2:4]
secondSlice=strVal[:3]
thirdSlice=strVal[2:]

print("**************************")
print("Original string :",strVal)
print("First Character :",firstChar)
print("Second Character :",secondChar)
print("Last Character :",lastChar)

print("First Slice :",firstSlice)
print("Second Slice :",secondSlice)
print("Third Slice :",thirdSlice)
print("**************************")

Enter a string : ramayan

**************************
Original string : ramayan
First Character : r
Second Character : a
Last Character : n
First Slice : ma
Second Slice : ram
Third Slice : mayan
**************************

In [44]:
# Square patten
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [9]:
# Check palindrome number
forPalindrome=input("Enter no or a string :")
newPalindrome=forPalindrome[::-1]
if(forPalindrome==newPalindrome):
    #print("Yes, This is a palindrome number OR String")
    print(True)
else:
    #print("No, This is not a palindrome number OR String")
    print(False)

Enter no or a string : 252

True

In [47]:
# pattern
for i in range(6):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [39]:
# pattern
for i in range(5):
    for j in range(i,5):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [50]:
# Pyramid pattern
n=6
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(i*2+1):        
        print("*",end="")
    print()

     *
    ***
   *****
  *******
 *********
***********

In [1]:
# floor division
a=5
b=2
ans=a//b
print(ans)

2

In [2]:
C
Print(C)

NameError: name 'C' is not defined

In [1]:
# split function store the all word in a list string format
name="He is go to home"
n=name.split()
print(n)
print(len(n))

['He', 'is', 'go', 'to', 'home']
5

In [2]:
# Foramt function for indexing
a=10
b=20
c=30
print("{1} and {0} and {2}".format(a,b,c))

20 and 10 and 30

In [3]:
# Foramt function for indexing
a,b,c=100,200,300
print("{0} and {2} and {1}".format(c,a,b))

300 and 200 and 100

In [5]:
# Datatype and it's size
import sys
int_size = sys.getsizeof(0)
float_size = sys.getsizeof(0.0)
str_size = sys.getsizeof("rama")
list_size = sys.getsizeof([])
dict_size = sys.getsizeof({})
tuple_size = sys.getsizeof(())
print(f"Size of an integer: {int_size} bytes")
print(f"Size of a float: {float_size} bytes")
print(f"Size of an empty string: {str_size} bytes")
print(f"Size of an empty list: {list_size} bytes")
print(f"Size of an empty dictionary: {dict_size} bytes")
print(f"Size of an empty tuple: {tuple_size} bytes")

Size of an integer: 28 bytes
Size of a float: 24 bytes
Size of an empty string: 45 bytes
Size of an empty list: 56 bytes
Size of an empty dictionary: 64 bytes
Size of an empty tuple: 40 bytes

In [6]:
# Replace function
s='ram'
print(s.replace('r','a'))

aam

In [7]:
#list is mutable
a=[1,'a',2.4,True]
print(a[3])
a[3]=5
print(a)
print(a[3])

True
[1, 'a', 2.4, 5]
5

In [8]:
# Append, insert, remove, index function in list
a=[2,4]
a.append("ram")
print("Append :",a)
a.insert(0,5)
print("Insert :",a)
a.remove(2)
print("Remove :",a)

print("Index :",a.index(4))

Append : [2, 4, 'ram']
Insert : [5, 2, 4, 'ram']
Remove : [5, 4, 'ram']
Index : 1

In [9]:
#Write a python programm to replace first letter of the any word.......
#like : 'G' replace with 'K'
Guj="Gujarat"
def strVal(strReplace):
    for i in strReplace:
        if(i=='G'):
            print('K',end="")
        else:
            print(i,end="")
strVal(Guj)

Kujarat

In [10]:
findStr="Nandnji"
findStr.index('z')

ValueError: substring not found

In [11]:
# explicit type
li=[1,2,3,4]
k=str(li)
print(type(k))

<class 'str'>

In [ ]:
# Position of True
li=[1,'a',2.5,True]
k=li.index(True)
print(k)

In [12]:
# find the odd and even number in a list
li=[1,2,10,4,5,6,7,True,False]
for i in range(len(li)):
    if(li[i]%2==0):
        print("Even :",li[i])
    else:
        print("Odd :",li[i])

Odd : 1
Even : 2
Even : 10
Even : 4
Odd : 5
Even : 6
Odd : 7
Odd : True
Even : False

In [13]:
# find the odd and even number in a list
li=[1,2,10,4,5,6,7,True,False,'k']
for i in range(len(li)):
    if(li[i]%2==0):
        print("Even :",li[i])
    else:
        print("Odd :",li[i])

Odd : 1
Even : 2
Even : 10
Even : 4
Odd : 5
Even : 6
Odd : 7
Odd : True
Even : False

TypeError: not all arguments converted during string formatting

In [14]:
# find the odd and even number in a list
li = [1, 2, 10, 4, 5, 6, 7, True, False, 'k']

even_numbers = []
odd_numbers = []

for item in li:
    if isinstance(item, int):  # Check if the item is an integer
        if item % 2 == 0:
            even_numbers.append(item)
        else:
            odd_numbers.append(item)

print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [2, 10, 4, 6, False]
Odd numbers: [1, 5, 7, True]

In [48]:

StrVal="He is a man but He is a human"
strList=['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
splitVal=StrVal.split()
#print(splitVal)
for i in strList:
    print(i)
    print(strList)
    #print(i.split())
    # if(i.split()==splitVal):
    #     print(i)
    
# setVal=set(splitVal)

# print("Toatl unique word type :",setVal)
# print("Number of unique word :",len(setVal))

He
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
is
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
a
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
man
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
but
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
He
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
is
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
a
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']
human
['He', 'is', 'a', 'man', 'but', 'He', 'is', 'a', 'human']

In [16]:
uni="Hemu is a good girl and good her work is a"
listuni=uni.split()
setuni=set(listuni)
print(setuni)
print(len(setuni))

{'girl', 'good', 'a', 'work', 'is', 'and', 'Hemu', 'her'}
8